{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'create_url.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create URL</h4>
            <p class="card-text">Use the sliders and the URL boxes to determine a custom shortened URL with random destinations.<br><br>Note: adding the "https://" in front of the destination helps ensure the redirect works on all devices.</p><a

                class="card-link" href="#">Account</a><a class="card-link" href="#">Home</a>
        </div>
    </div>

    <h3>Destinations</h3>

    <ol class="list-group list-group-numbered" id="url-list">

    </ol>

    <button id="add-button" class="btn btn-primary" type="button">Add Destination</button>
    <hr>
    <button id="create-url" class="btn btn-primary" type="button" style="text-align: left;">Create URL</button>
    </div>
{% endblock %}