{% extends 'base.html' %}

{% block body %}
    <div class="col d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Information for "<a
                        href="{% url 'random' url.link_string %}">{{ url.link_string }}"</a></h5>
                {% if request.user == url.owner %}
                    <h7 class="card-subtitle">URL has been used {{ url.get_views }} times</h7>
                {% endif %}
                <div class="card-body">
                    <p>Link: <a
                            href="{% url 'random' url.link_string %}">{{ request.scheme }}://{{ request.get_host }}/{{ url.link_string }}</a>
                    </p>
                </div>
            </div>
            <ul class="list-group">
                {% for dest in url.destinations.all %}
                    <li class="list-group-item">{{ dest.pp_prob }} - <a href="{{ dest.url }}">{{ dest.url }}</a>
                        {% if request.user == url.owner %}
                            with {{ dest.views }} views
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}