#url-bar-1{
    background-color: red;
}

#url-bar-2{
    background-color: blue;
}

#url-bar-3{
    background-color: green;
}

#url-bar-4{
    background-color: lightgreen;
}

#url-bar-5{
    background-color: purple;
}

#url-bar-6{
    background-color: darkblue;
}

#url-bar-7{
    background-color: darkgreen;
}